<!-- 导航栏 -->
<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">影视剧查看</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#movies">MOVIES</a></li>
            <li class="breadcrumb-item active"><a href="#tv">TV</a></li>
        </ol>
    </div>
</div>

<!-- Modal -->
<!-- 添加电影资源 -->
<div class="modal fade" id="add-movie-resource-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加资源</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="movie-resource-name" class="col-sm-2 col-form-label">资源名称</label>
                            <div class="col-sm-10">
                                <input id="movie-resource-name" type="text" class="form-control"
                                       placeholder="请输入该资源的名称...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="movie-resource-bigness" class="col-sm-2 col-form-label">资源大小</label>
                            <div class="col-sm-10">
                                <input id="movie-resource-bigness" type="text" class="form-control"
                                       placeholder="请输入资源的大小...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="movie-resource" class="col-sm-2 col-form-label">资源链接</label>
                            <div class="col-sm-10">
                                <textarea rows="4" class="form-control" id="movie-resource"
                                          placeholder="资源链接..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-square"><i class="fa fa-mail-reply-all"></i> 重置</button>
                <button type="button" class="btn btn-dark btn-square" data-dismiss="modal"><i class="fa fa-times"></i>
                    取消
                </button>
                <button type="button" class="btn btn-primary btn-square" id="add-movie-resource"><i
                        class="fa fa-check-square-o"></i> 保存
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 添加电视剧资源 -->
<div class="modal fade" id="add-tv-resource-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加资源</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="tv-resource-name" class="col-sm-2 col-form-label">资源名称</label>
                            <div class="col-sm-10">
                                <input id="tv-resource-name" type="text" class="form-control"
                                       placeholder="请输入该资源的名称...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="tv-resource-bigness" class="col-sm-2 col-form-label">资源大小</label>
                            <div class="col-sm-10">
                                <input id="tv-resource-bigness" type="text" class="form-control"
                                       placeholder="请输入资源的大小...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="tv-resource-episode" class="col-sm-2 col-form-label">集数</label>
                            <div class="col-sm-10">
                                <input id="tv-resource-episode" type="text" class="form-control"
                                       placeholder="请输入该资源的集数...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="form-group row">
                            <label for="tv-resource" class="col-sm-2 col-form-label">资源链接</label>
                            <div class="col-sm-10">
                                <textarea rows="4" class="form-control" id="tv-resource"
                                          placeholder="资源链接..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-square"><i class="fa fa-mail-reply-all"></i> 重置</button>
                <button type="button" class="btn btn-dark btn-square" data-dismiss="modal"><i class="fa fa-times"></i>
                    取消
                </button>
                <button id="add-tv-resource" type="button" class="btn btn-primary btn-square"><i
                        class="fa fa-check-square-o"></i> 保存
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 详情model -->
<div class="modal fade" id="detail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">资源详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- todo 先放着，后面再写 -->
                <h4>展示影视剧详情，先放着，后面再完成！！！</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-square" data-dismiss="modal"><i class="fa fa-times"></i>
                    Close
                </button>
                <button type="button" class="btn btn-primary btn-square"><i class="fa fa-check-square-o"></i> Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 电影部分 -->
<h6 class="text-uppercase" id="movies">MOVIE AREA</h6>
<hr>
<div class="row" id="load-movie-area">
</div>
<div class="row justify-content-center">
    <div class="col-12 col-lg-4 col-xl-4 mt-1" id="movie-page-message">
        <p>当前第 <strong>1</strong> 页, 共42页, 1008条数据</p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6" id="movie-page-ul">
    </div>
</div>

<!-- 电视剧部分 -->
<h6 class="text-uppercase mt-3" id="tv">TV SHOW AREA</h6>
<hr>

<div class="row" id="load-tv-area">

</div>
<div class="row justify-content-center">
    <div class="col-12 col-lg-4 col-xl-4 mt-1" id="tv-page-message">
        <p>当前第 <strong>1</strong> 页, 共42页, 1008条数据</p>
    </div>
    <div class="col-12 col-lg-6 col-xl-6" id="tv-page-ul">
    </div>
</div>

<script type="text/javascript">

    /* 添加电影资源 */
    $("#add-movie-resource").click(function () {
        let name = $("#movie-resource-name").val();
        let bigness = $("#movie-resource-bigness").val();
        let downloadLink = $("#movie-resource").val();
        let object = $(this).attr("movie-id");

        let data = {name, bigness, object, downloadLink};
        console.log(data);
        addResource(data);
    });

    /* 添加电视剧资源 */
    $("#add-tv-resource").click(function () {
        let name = $("#tv-resource-name").val();
        let bigness = $("#tv-resource-bigness").val();
        let episode = $("#tv-resource-episode").val();
        let downloadLink = $("#tv-resource").val();
        let object = $(this).attr("tv-id");

        let data = {name, bigness, episode, downloadLink, object};
        console.log(data);
        addResource(data);
    });

    /**
     * 上传资源
     * @param data
     */
    function addResource(data) {
        $.ajax({
            url: "/backend/resource",
            contentType: "application/json;charset=utf-8",
            type: "post",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.status === 0) {
                    Notiflix.Notify.Info("添加成功");
                    $("#add-movie-resource-modal").modal("hide");
                    $("#add-tv-resource-modal").modal("hide");
                    resetResourceAll();
                } else {
                    Notiflix.Notify.Warning(result.msg);
                }
            }
        });
    }

    /**
     * 重置所有
     */
    function resetResourceAll() {
        $("#tv-resource-name").val("");
        $("#tv-resource-bigness").val("");
        $("#tv-resource-episode").val("");
        $("#tv-resource").val("");
        $("#movie-resource-name").val("");
        $("#movie-resource-bigness").val("");
        $("#movie-resource").val("");
    }

</script>