<!-- 电影部分 -->
<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <!-- header -->
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col text-left">
                        <p class="mb-0">MOVIES</p>
                    </div>
                </div>
            </div>
            <!-- body -->
            <div class="card-body">
                <h2>电影展示</h2>
            </div>
        </div>
    </div>
</div>

<!-- 电视剧部分 -->
<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <!-- header -->
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col text-left">
                        <p class="mb-0">TV</p>
                    </div>
                </div>
            </div>
            <!-- body -->
            <div class="card-body">
                <h2>电视剧展示</h2>
            </div>
        </div>
    </div>
</div>