spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@127.0.0.1:1521:ora
    username: c##kanguan
    password: kanguan_Kk6neiid

mybatis-plus:
  global-config:
    db-config:
      # 全局默认主键类型
      id-type: input
  mapper-locations: classpath:mappers/*Mapper.xml
