spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@172.17.0.5:1521:xe
    username: kanguan
    password: kanguan_Kk6neiid

  mail:
    password: gieqkfjqvfkyieji
    host: smtp.qq.com
    username: 1271130458@qq.com
    properties.mail.smtp.ssl.enable: true

  devtools:
    restart:
      enabled: true

  servlet:
    multipart:
      # 配置文件上传的限制
      enabled: true
      # 单个文件大小限制
      max-file-size: 10MB
      # 设置总上传数据大小
      max-request-size: 100MB


mybatis-plus:
  global-config:
    db-config:
      id-type: input
  mapper-locations: classpath:mappers/*Mapper.xml


server:
  port: 8080
