/* 小手指 */
.finger {
    cursor: pointer;
}

/* 超出字符省略 */
.omit-6 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.omit-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.omit-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 图片覆盖 */
.overlay-img {
    width: 100%;
    height: 20rem;
    border-radius: .25rem;
    background-size: cover;
    background-position: center
}

/* 图片覆盖特效 start */
.box {
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

.box:hover {
    border-radius: .25rem;
    box-shadow: 0 0 15px -5px #000;
}

.box img {
    width: 100%;
    border-radius: .25rem;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease 0s;
}

.box:hover img {
    filter: blur(2px);
}

.box .box-content {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%;
    height: 85%;
    padding: 10% 0 0 0;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.box:hover .box-content {
    top: 0;
}

.box .title {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.box .post {
    color: #32c287;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0 4px;
}

.box .icon {
    background: rgba(50, 194, 135, 0.6);
    text-align: center;
    height: 15%;
    width: 100%;
    padding: 5px 0 0;
    margin: 0;
    list-style: none;
    transform: translateX(50%);
    position: absolute;
    right: 50%;
    bottom: -100%;
    z-index: 1;
    transition: all 0.3s;
}

.box:hover .icon {
    bottom: 0;
}

.box .icon li {
    display: inline-block;
    margin: 0 3px;
}

.box .icon li a {
    color: #32c287;
    background-color: #fff;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 40%;
    display: block;
    transition: all 0.3s;
}

.box .icon li a:hover {
    color: #fff;
    background-color: #04a562;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .box .title {
        font-size: 20px;
    }
}

/* 图片覆盖特效 end */