<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanguan.mapper.MoviesMapper">
    <resultMap id="BaseResultMap" type="com.kanguan.entity.po.Movies">
        <id property="movieId" column="movie_id"/>
        <result property="name" column="name"/>
        <result property="cover" column="cover"/>
        <result property="anotherName" column="another_name"/>
        <result property="countryRegion" column="country_region"/>
        <result property="director" column="director"/>
        <result property="length" column="length"/>
        <result property="score" column="score"/>
        <result property="scenarist" column="scenarist"/>
        <result property="staring" column="staring"/>
        <result property="release" column="release"/>
        <result property="type" column="type"/>
        <result property="style" column="style"/>
        <result property="premiere" column="premiere"/>
        <result property="introduction" column="introduction"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        movie_id, name, cover, another_name, country_region, director, length, score, scenarist, staring, release,
        type, style, premiere, introduction, create_time, update_time
    </sql>

</mapper>