<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanguan.mapper.SubtitleMapper">
    <resultMap id="BaseResultMap" type="com.kanguan.entity.po.Subtitle">
        <id property="subtitleId" column="subtitle_id"/>
        <result property="name" column="name"/>
        <result property="episode" column="episode"/>
        <result property="format" column="format"/>
        <result property="download" column="download"/>
        <result property="language" column="language"/>
        <result property="targetId" column="target_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <resultMap id="SubtitleMoviesVo" type="com.kanguan.entity.vo.SubtitleMoviesVo">
        <result property="count" column="count" jdbcType="NUMBER"/>
        <result property="targetId" column="movie_id"/>
        <result property="moviesName" column="name"/>
    </resultMap>

    <sql id="Base_Column_List">
        subtitle_id, name, episode, format, download, language, target_id, create_time, update_time
    </sql>
    <sql id="Subtitle_Movies_Vo">
        /* todo 明天继续吧 */
    </sql>

    <select id="selectSubtitleMainMessageByMoviesType" resultMap="SubtitleMoviesVo"
            parameterType="java.lang.String">

    </select>

</mapper>