<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanguan.mapper.SubtitleMapper">
    <resultMap id="BaseResultMap" type="com.kanguan.entity.po.Subtitle">
        <id property="subtitleId" column="subtitle_id"/>
        <result property="name" column="name"/>
        <result property="episode" column="episode"/>
        <result property="format" column="format"/>
        <result property="download" column="download"/>
        <result property="language" column="language"/>
        <result property="targetId" column="target_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <resultMap id="SubtitleMoviesVo" type="com.kanguan.entity.vo.SubtitleMoviesVo">
        <result property="count" column="count(ks.subtitle_id)" jdbcType="INTEGER"/>
        <result property="targetId" column="movie_id"/>
        <result property="moviesName" column="name"/>
    </resultMap>

    <sql id="Base_Column_List">
        subtitle_id, name, episode, format, download, language, target_id, create_time, update_time
    </sql>

    <sql id="Subtitle_Movies_Vo">
        km.movie_id, km.name, count(ks.subtitle_id)
    </sql>
    <select id="selectSubtitleMainMessageByMoviesType" resultMap="SubtitleMoviesVo" parameterType="java.lang.String">
        select
        <include refid="Subtitle_Movies_Vo"/>
        from kg_movies km
        left join kg_subtitle ks
        on km.movie_id = ks.target_id
        <if test="type != '-1'">
            where km.type = #{type}
        </if>
        group by km.movie_id, km.name, km.create_time
        order by km.create_time desc
    </select>

</mapper>