<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanguan.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.kanguan.entity.po.UserInfo">
        <id property="infoId" column="info_id"/>
        <result property="member" column="member"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        info_id, member, create_time, update_time
    </sql>

</mapper>